.form {
  --width: initial;

  margin: 0;
  width: var(--width);
}

.label {
  align-items: center;

  &--min-height {
    min-height: 20px;
  }
}

.field {
  width: 100%;

  :first-child[class^='mzn-text-field'] {
    min-width: unset;
  }
}
