@use '~@mezzanine-ui/system/palette';
@use './password-field' as *;

.#{$prefix}__icon {
  cursor: pointer;
  color: palette.color(text-secondary);

  &:hover {
    color: palette.color(text-secondary);
  }
}
