@use './base-field' as *;

.#{$prefix} {
  --width: initial;

  margin: 0;
  width: var(--width);

  &__label {
    align-items: center;

    &--min-height {
      min-height: 20px;
    }
  }

  &__field {
    width: 100%;

    :first-child[class^='mzn-text-field'] {
      min-width: unset;
    }
  }
}
